:root {
    --BrightTurquoise: #00CEF8;
    --LavenderRose: #F89CE4;
    --Cerise: #E52A98;
    --PurpleHeart: #751ED9;
    --Meteorite: #46267F;
    --Christalle: #35006A;
    --NeutralDark: #3B3B3B;
    --NeutralLight: #FAFAFA;
    --Ghost: #C0C4CF;
}

body {
    background: var(--NeutralDark);
    color: white; /* temporary */
}