.spaceBg {
  width: 100%;
  height: 100%;
  position:absolute;
  top:0;
  left:0;
  z-index: -100; /* should be the same or less than the content planet parent row z-index */
  display: block !important; /* TODO: 4/21/22: Temporary. Remove this after live site uses Github stylesheet sitewide */
}

/* .spaceBg .planet, */

.spaceBg .planetContainer {
  --planet_offset_y_initial: 100vh;
  --planet-offset_y_spacer: 100vh;
  top: calc(var(--planet_offset_y_initial) + (var(--planet-offset_y_spacer) * var(--planet-index)) + var(--planet-offset_y));
}