.spaceBg {
  width: 100%;
  height: 100%;
  position:absolute;
  top:0;
  left:0;
  display: block !important;
}

/* .spaceBg .planet, */

.spaceBg .planetContainer {
    --planet_offset_y_initial: 100vh;
    --planet-offset_y_spacer: 80vh;
    top: calc(var(--planet_offset_y_initial) + (var(--planet-offset_y_spacer) * var(--planet-index)) + var(--planet-offset_y));
}

