/* Set up Variable */

.VARIABLES------------------------ { color: inherit;}

:root {
  --color-hue-button-default: var(--color-hue-accent);

  --color-button-default:   var(--color-accent);
  --color-button-extra-1:   var(--color-extra-1);
  --color-button-extra-2:   var(--color-extra-2);
  --color-button-extra-3:   var(--color-extra-3);
  --color-button:           var(--color-button-default);

  --color-saturation-button-shadow-default: 67%;
  --color-lightness-button-shadow-default: 33%;

  --color-text-button:      var(--color-text-on-color-default);
}

body.material .nectar-button.accent-color {
    --color-button-assigned: var(--color-button-default);
    --color-button-shadow: hsl(var(--color-hue-button-default) var(--color-saturation-button-shadow-default) var(--color-lightness-button-shadow-default));
}

body.material .nectar-button.extra-color-1 {
    --color-button-assigned: var(--color-button-extra-1);
    --color-button-shadow: hsl(var(--color-hue-extra-1) var(--color-saturation-button-shadow-default) var(--color-lightness-button-shadow-default));
}

body.material .nectar-button.extra-color-2 {
    --color-button-assigned: var(--color-button-extra-2);
    --color-button-shadow: hsl(var(--color-hue-extra-2) var(--color-saturation-button-shadow-default) var(--color-lightness-button-shadow-default));
}

body.material .nectar-button.extra-color-3 {
    --color-button-assigned: var(--color-button-extra-3);
    --color-button-shadow: hsl(var(--color-hue-extra-3) var(--color-saturation-button-shadow-default) var(--color-lightness-button-shadow-default));
}

body.material .nectar-button.accent-color,
body.material .nectar-button.extra-color-1,
body.material .nectar-button.extra-color-2,
body.material .nectar-button.extra-color-3 {
    --color-button-assigned-border: var(--color-button-assigned);
    --color-button-assigned-shadow: var(--color-button-shadow);
}



/* Override Nectar Buttons */


.NECTAR-BUTTON-OVERRIDES------------------------ { color: inherit;}

.nectar-button, 
.nectar-button[data-color-override="false"].regular-button, /* for override */
body[data-button-style*="slightly_rounded"] .nectar-button /* for override */,
form .gform_button 
body.material .nectar-button.large /* override */,
body[data-form-submit="regular"] .container-wrap input[type=submit] /* override */, 
body[data-form-submit="regular"] .container-wrap button[type=submit] /* override */ {
    text-transform: uppercase;
    margin-bottom: 1rem;
}


body[data-button-style*="slightly_rounded"] .nectar-button {
    -webkit-transition-duration: 0.45s, 0.2s, 0.45s, 0.45s, 0.45s, 0.2s; /* override */
    transition-duration: 0.45s, 0.2s, 0.45s, 0.45s, 0.45s, 0.2s; /* override */
}

body.material .nectar-button.accent-color,
body.material .nectar-button.extra-color-1,
body.material .nectar-button.extra-color-2,
body.material .nectar-button.extra-color-3 {
    border-color: var(--color-button-assigned-border);
}


.nectar-button::before {
    position: absolute;
    content: "";
    width: 100%;
    left:0;
    height: 8px; /* make height dynamic to button size */ 
    bottom:-8px; /* make height dynamic to button size */
    background-color:transparent;
}

.nectar-button:hover::before {
    /*display: block;*/
    height: 10px; /* make height dynamic to button size */ 
    bottom:-10px; /* make height dynamic to button size */
    
}

.nectar-button span {
    white-space: nowrap;
}

/* Override spacing when button has icon */
.nectar-button.has-icon:hover span,  /* override */
.nectar-button.tilt.has-icon span,  /* override */
body.material .nectar-button.has-icon span /* override */ {
    transform: translateX(0); /* override */
}

/* Override spacing when button has icon */
body.material .nectar-button.has-icon i,
body.material .nectar-button.has-icon.large:not([class*=see-through]) i /* override */ {
    position: relative;
    right: -0.5em;
    transform: translate(0, 0);
    text-decoration: none;
}

body.material .nectar-button.see-through.accent-color[data-color-override="false"] {
    color: white !important; /* TEMP: Color */
}

.nectar-button.small,
.nectar-button[data-color-override="false"].regular-button.small /* override */,
body .nectar-button[data-color-override="false"].see-through.small /* override */{
    padding: 0.25em 1em !important; /* override */
    box-shadow: 0 0px 0 var(--color-button-assigned-shadow) !important; /* override */
    font-size: var(--font-size-sub-sub-paragraph);
    border-radius: 4px !important; /* override */
}

.nectar-button.medium,
.nectar-button[data-color-override="false"].regular-button.medium /* override */,
body .nectar-button[data-color-override="false"].see-through.medium /* override */{
    padding: 0.75em 2em !important; /* override */
    box-shadow: 0 0px 0 var(--color-button-assigned-shadow) !important; /* override */
    font-size: var(--font-size-sub-paragraph);
}


body.material .nectar-button.large,
.nectar-button[data-color-override="false"].regular-button.large /* override */,
body .nectar-button[data-color-override="false"].see-through.large /* override */,
body[data-form-submit=see-through] .container-wrap .gform_wrapper input[type=submit]{
    padding: 1em 3em !important; /* override */
    box-shadow: 0 0px 0 var(--color-button-assigned-shadow) !important; /* override */
    font-size: var(--font-size-paragraph);
    
}

body.material .nectar-button.jumbo,
.nectar-button[data-color-override="false"].regular-button.jumbo /* override */,
body .nectar-button[data-color-override="false"].see-through.jumbo /* override */{
    padding: 1.5em 3.5em !important; /* override */
    box-shadow: 0 0px 0 var(--color-button-assigned-shadow) !important; /* override */
    font-size: var(--font-size-super-paragraph);
    border-radius: 6px !important; /* override */
}

body.material .nectar-button.extra_jumbo,
.nectar-button[data-color-override="false"].regular-button.extra_jumbo /* override */,
body .nectar-button[data-color-override="false"].see-through.extra_jumbo /* override */{
    padding: 1.25em 4em !important; /* override */
    box-shadow: 0 0px 0 var(--color-button-assigned-shadow) !important; /* override */
    font-size: var(--font-size-h5);
    border-radius: 8px !important; /* override */
    border-width: 2px;
    line-height: var(--line-height-h5);
}


/* Hover */
.HOVER-STATE------------------------ { color: inherit;}

.full-width-section .light .nectar-button:hover,  /* Nectar override */
.nectar-button:hover { /* Nectar override */
    opacity: 1;
}


.nectar-button.small:hover,
.nectar-button[data-color-override="false"].regular-button.small:hover /* override */,
body .nectar-button[data-color-override="false"].see-through.small:hover /* override */{
    box-shadow: 0 3px 0 var(--color-button-assigned-shadow) !important;
    box-shadow: 0 var(--shadow-length-small) 0 var(--color-button-assigned-shadow) !important;
    transform: translateY(-3px);
}

.nectar-button.medium:hover,
.nectar-button[data-color-override="false"].regular-button.medium:hover /* override */,
body .nectar-button[data-color-override="false"].see-through.medium:hover /* override */{
    box-shadow: 0 5px 0 var(--color-button-assigned-shadow) !important;
    box-shadow: 0 var(--shadow-length-medium) 0 var(--color-button-assigned-shadow) !important;
    transform: translateY(-5px);
}

body.material .nectar-button.large:hover /* override */,
.nectar-button[data-color-override="false"].regular-button.large:hover /* override */,
body .nectar-button[data-color-override="false"].see-through.large:hover /* override */,
body[data-form-submit=see-through] .container-wrap .gform_wrapper input[type=submit]:hover {
    box-shadow: 0 6px 0 var(--color-button-assigned-shadow) !important;
    box-shadow: 0 var(--shadow-length-large) 0 var(--color-button-assigned-shadow) !important;
    transform: translateY(-6px);
}

body.material .nectar-button.jumbo:hover,
.nectar-button[data-color-override="false"].regular-button.extra_jumbo:hover /* override */,
body .nectar-button[data-color-override="false"].see-through.extra_jumbo:hover /* override */{
    box-shadow: 0 8px 0 var(--color-button-assigned-shadow) !important;
    box-shadow: 0 var(--shadow-length-jumbo) 0 var(--color-button-assigned-shadow) !important;
    transform: translateY(-8px);
}

body.material .nectar-button.extra_jumbo:hover,
.nectar-button[data-color-override="false"].regular-button.extra_jumbo:hover /* override */,
body .nectar-button[data-color-override="false"].see-through.extra_jumbo:hover /* override */{
    box-shadow: 0 8px 0 var(--color-button-assigned-shadow) !important;
    box-shadow: 0 var(--shadow-length-extra-jumbo) 0 var(--color-button-assigned-shadow) !important;
    transform: translateY(-8px);
}

/* Active */
.ACTIVE-STATE------------------------ { color: inherit;}

.nectar-button.small:active,
.nectar-button[data-color-override="false"].regular-button.small:active /* override */,
body .nectar-button[data-color-override="false"].see-through.small:active /* override */{
    box-shadow: 0 0px 0 var(--color-button-assigned-shadow) !important;
    transform: translateY(2px);
}

.nectar-button.medium:active,
.nectar-button[data-color-override="false"].regular-button.medium:active /* override */,
body .nectar-button[data-color-override="false"].see-through.medium:active /* override */{
    box-shadow: 0 0px 0 var(--color-button-assigned-shadow) !important;
    transform: translateY(2px);
}

body.material .nectar-button.large:active /* override */,
.nectar-button[data-color-override="false"].regular-button.large:active /* override */,
body.nectar-button[data-color-override="false"].see-through.large:active /* override */,
body[data-form-submit=see-through] .container-wrap .gform_wrapper input[type=submit]:active {
    box-shadow: 0 0px 0 var(--color-button-assigned-shadow) !important;
    transform: translateY(2px);
}

body.material .nectar-button.jumbo:active,
.nectar-button[data-color-override="false"].regular-button.extra_jumbo:active /* override */,
body.nectar-button[data-color-override="false"].see-through.large:active /* override */{
    box-shadow: 0 0px 0 var(--color-button-assigned-shadow) !important;
    transform: translateY(2px);
}

body.material .nectar-button.extra_jumbo:active,
.nectar-button[data-color-override="false"].regular-button.extra_jumbo:active /* override */,
body.nectar-button[data-color-override="false"].see-through.large:active /* override */{
    box-shadow: 0 0px 0 var(--color-button-assigned-shadow) !important;
    transform: translateY(2px);
}



.MISCELLANEOUS------------------------ { color: inherit;}

/* Form submit button */
body[data-form-submit=see-through] .container-wrap .gform_wrapper input[type=submit] {
  background-color: var(--color-button-default) !important; /* Override */
  color: var(--color-text-button) !important; /* Override */
  border: none !important; /* Override */
}

.before-footer .gform_button,
.before-footer .gform_legacy_markup_wrapper .gform_footer input.button, /* for override */
.before-footer .gform_legacy_markup_wrapper .gform_footer input[type=submit],  /* for override */
.before-footer .gform_legacy_markup_wrapper .gform_page_footer input.button,  /* for override */
.before-footer .gform_legacy_markup_wrapper .gform_page_footer input[type=submit] /* for override */ {
    box-shadow: 0px 4px 0px var(--color-button-assigned-shadow); /* TODO: Use variable for shadow lengths */
    box-shadow: 0px var(--shadow-length-default) 0px var(--color-button-assigned-shadow);
    font-size: 14px; /* override */
}



/* Footer-specific buttons */

body[data-form-submit="regular"] .container-wrap .before-footer input[type=submit], /* for override */
body[data-form-submit="regular"] .container-wrap .before-footer button[type=submit],  /* for override */
body[data-form-submit="see-through"] .container-wrap .before-footer input[type=submit],  /* for override */
body[data-form-submit="see-through"] .container-wrap .before-footer button[type=submit]:not(.search-widget-btn)  /* for override */{
    padding: 0.5rem 1rem !important; /* override */
}
