/*
 * GENERIC FORM ELEMENTS
 */


/* Fields */
.gform_legacy_markup_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  padding: 8px; /* override */
}


/* Checkbox */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 0.25rem;
    background-color: var(--color-bg-light-default);
    vertical-align: sub;
    margin: 0 0.5em 0 0;
    font-size: var(--font-size-paragraph);
    position:relative;
}

input[type="checkbox"]:focus {
    outline: 1px solid var(--color-outline-default);
}

input[type="checkbox"]:checked {
    background-color: var(--color-bg-color-default);
}

input[type="checkbox"]:checked::before {
    content: "\2713";
    color: var(--color-text-light-on-dark-default);
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
    position:absolute;
}




/*
 * SEARCH & FILTER - FILTER FORM ELEMENTS
 */

.searchandfilter li[data-sf-field-input-type=checkbox] label, 
.searchandfilter li[data-sf-field-input-type=radio] label, 
.searchandfilter li[data-sf-field-input-type=range-radio] label, 
.searchandfilter li[data-sf-field-input-type=range-checkbox] label {
    /* padding-left: 0.5rem; */ /* Add right margin to checkbox/radio instead */
    font-weight: 500 !important; /* TODO: Use variable for standard weight */
}


/* COMBO BOX */

/* Main combo box container */
.searchandfilter li[data-sf-field-input-type=multiselect] .chosen-container .chosen-choices,
.gform_legacy_markup_wrapper .chosen-container .chosen-choices {
  border-radius: 0.25rem; /* TODO: Use variable for standard border radius */
  --right-dropdown-icon: 1rem;
  --width-dropdown-icon: 20px;
  --padding-right-normal: 0.5rem;
  --padding-right: calc(var(--right-dropdown-icon) + var(--width-dropdown-icon) + var(--padding-right-normal)); 
  padding: 0.5rem var(--padding-right) 0.5rem 0.5rem;
  border: none;
}

/* Main combo box container - dropdown arrow */
.searchandfilter li[data-sf-field-input-type=multiselect] .chosen-container .chosen-choices::after,
.gform_legacy_markup_wrapper .chosen-container .chosen-choices::after{
  content: "";
  position: absolute;
  width: 20px;
  height: 11px;
  right: 1rem;
  top: 21px;
  background-color: var(--color-text-form-field-default);
  cursor: pointer;
  --mask-image: var(--url-icon-dropdown-down);
  --mask-repeat: no-repeat;
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
  -webkit-mask-repeat: var(--mask-repeat);
mask-repeat: var(--mask-repeat);
}

/* Main combo box container - Remove dropdown arrow when box is open */
.searchandfilter li[data-sf-field-input-type=multiselect] .chosen-container.chosen-with-drop .chosen-choices::after,
.gform_legacy_markup_wrapper .chosen-container.chosen-with-drop .chosen-choices::after{
  --mask-image: none;
  background-color: transparent;
  cursor: default;
}

/* Main combo box container - Text Field */
.searchandfilter li[data-sf-field-input-type=multiselect] .chosen-container .chosen-choices li.search-field input[type="text"],
.gform_legacy_markup_wrapper .chosen-container .chosen-choices li.search-field input[type="text"]{
  color: var(--color-text-form-field-default);
  font-size: var(--font-size-paragraph);
  line-height: var(--line-height-paragraph);
  margin:0.25rem;
  padding-top: 0.25rem !important;
  padding-bottom: 0.5rem !important;
  height: auto;
}


/* Combox box options container */
.searchandfilter li[data-sf-field-input-type=multiselect] .chosen-container .chosen-drop,
.gform_legacy_markup_wrapper .chosen-container .chosen-drop{
  border-radius: 0 0 0.25rem 0.25rem;
  border: none;
  border-top: 1px solid var(--color-line-subtle-on-light);
}

.searchandfilter li[data-sf-field-input-type=multiselect] .chosen-container .chosen-results,
.gform_legacy_markup_wrapper .chosen-container .chosen-results{
  padding: 0.25rem; /* TODO: Use variable for container padding */
}

/* Combox box option */
.searchandfilter li[data-sf-field-input-type=multiselect] .chosen-container .chosen-results li,
.gform_legacy_markup_wrapper .chosen-container .chosen-results li{
  font-size: var(--font-size-paragraph);
  line-height: var(--line-height-paragraph);
  padding: 0.5rem 1rem;
  font-weight: normal;
  border-radius: 0.25rem; /* TODO: Use variable for standard border radius */
}

.searchandfilter li[data-sf-field-input-type=multiselect] .chosen-container .chosen-results li.highlighted,
.gform_legacy_markup_wrapper .chosen-container .chosen-results li.highlighted{
  background-color: var(--color-graphic-color-tint-default);
  background-image: none;
  color: var(--color-text-form-field-default); /* Override */
}

/* Combo box option - selected (and therefore disabled) */
.searchandfilter li[data-sf-field-input-type=multiselect] .chosen-container-multi .chosen-drop .result-selected,
.gform_legacy_markup_wrapper .chosen-container-multi .chosen-drop .result-selected{
  color: var(--color-text-disabled-default);
}

/* Combo box - active/open state */
.searchandfilter li[data-sf-field-input-type=multiselect] .chosen-container.chosen-with-drop .chosen-choices,
.gform_legacy_markup_wrapper .chosen-container.chosen-with-drop .chosen-choices{
  border-radius: 0.25rem 0.25rem 0 0; /* TODO: Use variables for default border radius */
}

/* Combo box Chips */
.searchandfilter li[data-sf-field-input-type=multiselect] .chosen-container .search-choice,
.gform_legacy_markup_wrapper .chosen-container .search-choice{
  margin: 0.25rem !important; /* override */ /* TODO: Use variable for default small spacing */
  --delete-x-button-size: 1rem;
  --padding-right: calc(0.5rem + var(--delete-x-button-size) + 0.5rem); /* TODO: Use variables for default container padding */
  padding: 0.25rem var(--padding-right) 0.5rem 1rem !important; /* Override */ /* TODO Use variables for default container padding */
  font-size: var(--font-size-paragraph); /* Override */
  line-height: var(--line-height-paragraph) !important; /* Override */
  font-weight: 500; /* Override */ /* TODO: Use default font weight */
  background-color: var(--color-graphic-color-tint-default) !important; /* Override */
  background-image: none !important; /* Override */
  box-shadow: none !important; /* Override */
  border-radius: 0.25rem !important; /* Override */ /* TODO: Use variable for default border radius */
  border: none !important; /* Override */
}

.searchandfilter li[data-sf-field-input-type=multiselect] .chosen-container .search-choice span,
.gform_legacy_markup_wrapper .chosen-container .search-choice span{
  color: var(--color-text-form-field-default); /* Override */
}

/* Combo Box Chip X button */
.searchandfilter li[data-sf-field-input-type=multiselect] .chosen-container-multi .chosen-choices li.search-choice .search-choice-close,
.gform_legacy_markup_wrapper .chosen-container-multi .chosen-choices li.search-choice .search-choice-close{
  width: 15px; 
  height: 15px; 
  background-image: none !important; 
  top: 10px; 
  right: 0.5rem;
  background-color: var(--color-bg-color-accent);
  border-radius: 100%;
  font-size: var(--font-size-paragraph);
  line-height: 15px;
  text-align: center;
}

.searchandfilter li[data-sf-field-input-type=multiselect] .chosen-container-multi .chosen-choices li.search-choice .search-choice-close::after,
.gform_legacy_markup_wrapper .chosen-container-multi .chosen-choices li.search-choice .search-choice-close::after{
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  background-color: var(--color-text-on-color-default);
  --mask-image: var(--url-icon-delete-x);
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  --mask-position-offset: calc((8px - 7.4px) / 2);
  --mask-position: var(--mask-position-offset) var(--mask-position-offset);
  -webkit-mask-position: var(--mask-position);
  mask-position: var(--mask-position);
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  margin-top: 50%;
  margin-left: 50%;
}