.molecule-cards-posts-2x2 .post > .post {
    background-color: transparent;
    padding-bottom: 0;
}

.molecule-cards-posts-2x2 .post > .post a.img-link{
    order: 2;
}

.molecule-cards-posts-2x2 .post > .post .meta-category {
    display: none;
}

.molecule-cards-posts-2x2 .post > .post .article-content-wrap {
    order: 1;
}

.molecule-cards-posts-2x2 .post > .post .article-content-wrap .excerpt {
    display: none;
}