:root {
    --length-molecule-cards-images: 24rem; /* 20rem arbitrary */
}

.molecule-cards-images .img-loaded {
    height: var(--length-molecule-cards-images);
    display: block;
}

.row .molecule-cards-images .col img {
    max-width: unset;
    max-height: unset;
    
    object-fit: cover;
    object-position: 50% 50%;
    height: var(--length-molecule-cards-images);
    width: 100%;
}