.molecule-table .wpb_text_column + .nectar-hor-list-item {
    font-weight: 600;
}

.molecule-table .nectar-hor-list-item[data-hover-effect=none] {
    padding: 0.5rem 0;
}

.molecule-table .wpb_wrapper .nectar-hor-list-item:nth-child(even) {
    background-color: rgba(255 255 255 / 5%); /* temporary. use light, differentiating bg color */
}

.molecule-table .wpb_wrapper .nectar-hor-list-item .nectar-list-item:nth-child(1) {
    padding-left: 1rem;
}

.molecule-table .wpb_wrapper .nectar-hor-list-item .nectar-list-item:last-child {
    padding-right: 1rem;
    
}

/* Mobile + Tablet */
@media only screen and (max-width: 999px) {
    
    /* Hide column headings */
    .molecule-table .wpb_wrapper .wpb_text_column + .nectar-hor-list-item{
        display:none;
    }
    
    .molecule-table .wpb_wrapper .wpb_text_column + .nectar-hor-list-item + .nectar-hor-list-item {
        /* Hack to get to the first next event entry */
        /* border-top: 1px solid rgba(255 255 255 / 50%); /* color temporary. use deemphasis border on dark */
    }
    
    
    .molecule-table .nectar-hor-list-item >.nectar-list-item {
        display: block;
    }
    
    .molecule-table .nectar-hor-list-item .nectar-list-item[data-text-align="left"] {
        padding-right: 0;
    }
    
    .molecule-table .nectar-hor-list-item .nectar-list-item, 
    .molecule-table .nectar-hor-list-item[data-columns="2"][data-column-layout="xsmall_first"] >div:nth-child(1),
    .molecule-table .nectar-hor-list-item[data-columns="2"][data-column-layout="xsmall_first"] >div:nth-child(2) {
        width: 100%;
    }
    
    .molecule-table .wpb_wrapper .nectar-hor-list-item {
        padding: 2.5rem 1rem;
        margin-left: -1rem;
        margin-right: -1rem;
    }
    
    .molecule-table .wpb_wrapper .nectar-hor-list-item .nectar-list-item:nth-child(1) {
        padding-left: 0;
    }

    .molecule-table .wpb_wrapper .nectar-hor-list-item .nectar-list-item:last-child {
        padding-right: 0;
        
    }
    
    .molecule-table .wpb_wrapper .nectar-hor-list-item .nectar-list-item:nth-child(1) {
        font-size: var(--font-size-sub-paragraph);
        line-height: var(--line-height-sub-paragraph);
        font-weight: 600;

    }
}