.wp-pagenavi {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
    
  --color-bg-local-accent:      var(--color-bg-color-default);
  --color-fg-local-accent:      var(--color-text-light-on-color-default);

  --color-bg-local-secondary:   var(--color-bg-light-default);
  --color-fg-local-secondary:   var(--color-text-dark-on-light-default);

  --color-bg-local-default:     transparent;
  --color-fg-local-default:     var(--color-text-light-on-dark-default);
}

/* Ordering */
.wp-pagenavi .previouspostslink {
    order: 10;
}

.wp-pagenavi .first {
    order: 20;
}

.wp-pagenavi .previouspostslink+.extend {
    order: 30;
}

.wp-pagenavi .page.smaller {
    order: 40;
}

.wp-pagenavi .current {
    order: 50;
}

.wp-pagenavi .page.larger {
    order: 60;
}

.wp-pagenavi .page.larger+.extend {
    order: 70;
}

.wp-pagenavi .last {
    order: 80;
}

.wp-pagenavi .nextpostslink {
    order: 90;
}


/* General */
.wp-pagenavi a,
.wp-pagenavi span {
    min-width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    border-radius: 0.25rem; 
    /* background-color: white; /* TODO: use variable (color) */
    background-color: var(--color-bg-local-secondary);
    /* color: black; /* TODO user variable (color) */
    color: var(--color-fg-local-secondary);
    transition: none;
    padding: 0; /* override */
    margin: 0; /* override */
    border: 0px; /* override */
}


/* Specific */


.wp-pagenavi .pages /* Page detail (ex. 1 of 10) */{
    display: none;
}

.wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink {
    padding-left: 1em;
    padding-right: 1em;
    background-color: transparent;
    background-color: var(--color-bg-local-default);
    color: var(--color-fg-local-default);
    white-space: nowrap;
}

.wp-pagenavi .extend {
    background-color: transparent;
    background-color: var(--color-bg-local-default);
    color: var(--color-fg-local-default);
    margin-left: -0.5em;
    margin-right: -0.5em;
}

.wp-pagenavi span.current {
    // background-color: var(--color-brand-purple);
    color: var(--color-fg-local-accent);
    font-weight: normal; /* TODO: Use variable for font weight */
    
    /* alternative styling */
    background-color: transparent;
    background-color: var(--color-bg-local-default);
    border: 2px solid var(--color-fg-local-default);
    /* border-color: hsl(0 0.01% 75%); /* TODO: use variable (color) */
    border-color: var(--color-line-strong-on-dark);
    box-sizing: border-box;
    line-height: calc(2.5rem - 4px); /* offset border */
}

/* Hover */
.wp-pagenavi .first:hover,
.wp-pagenavi .page:hover,
.wp-pagenavi .last:hover {
    background-color: var(--color-brand-purple);
    background-color: var(--color-bg-local-accent);
    /* color: white; /* TODO: use variable (color) */
    color: var(--color-fg-local-accent);
}

.wp-pagenavi .previouspostslink:hover,
.wp-pagenavi .nextpostslink:hover {
    background-color: hsla(0 0.01% 100% / 10%); /* TODO: use variable (color) */
    /* color: white; /* TODO: use variable for hover text  (color)*/
    color: var(--color-fg-local-default);
}