/* Toggle Panel Columns */
body .component-toggle-panels .wpb_column {
  margin-bottom: 0; /* override */
}

.toggle.default {
  --color-bg-local-default: var(--color-bg-light-default);
  --color-fg-local-default: var(--color-text-dark-on-light-default);

  --color-bg-local-accent: var(--color-bg-color-default);
  --color-fg-local-on-accent-bg: var(--color-text-on-color-default);

  background-color: var(--color-bg-local-default);
  border-radius: 0.375rem;
  overflow: hidden;
  color: var(--color-fg-local-default);
}


div[data-style="default"] .toggle h3 a,
div[data-style="default"] .toggle h3 {
  margin-top: 0;
  text-decoration: none;
  font-family: var(--font-family-default);
  font-size: var(--font-size-paragraph); /* Override */
}

.toggle h3 a {
  color: var(--color-fg-local-default);
  transition: none;
}

.toggle h3 a i {
  transition: none;
}

/* Hover */

.toggle h3 a:hover,
.toggle.open h3 a,
.toggle.open h3 a:hover,
.toggle>.toggle-title a:hover /* override */ {
  background-color: var(--color-bg-local-accent);
  color: var(--color-fg-local-on-accent-bg);
}

.toggle h3 a:hover i,
.toggle.open h3 a i,
.toggle.open h3 a:hover i {
  color: var(--color-fg-local-on-accent-bg);
}


/* Move expand/collapse icon to right */
.toggle h3 a {
  padding: 14px 43px 16px 14px; /* override */
}

.toggle h3 a i {
  left: auto; /* override */
  right: 13px;
}

/* Change expand/collapse Icon */
.toggle .fa-plus-circle:before {
  content: "\f078"; /* changed icon to down chevron */
}

.toggle .fa-minus-circle:before {
  content: "\f077"; /* changed icon to up chevron */
}
