/* About page: High Level section */

/* High level section headings */
.group-about-high-level-info h2, 
.group-about-high-level-info h3, 
.group-about-high-level-info h4 {
    margin-top: 0;
    margin-bottom: .5em;
}

/* Graphic container */
.group-about-high-level-info .hover-wrap-inner {
    aspect-ratio: 3;
    text-align: center;
    display: flex;
    align-items: center; /* vertical centering */
    justify-content: center; /* horizontal centering */
}

/* Graphic */
.group-about-high-level-info img {
    width: 1%; /* to be overridden by flexbox */
}

@media screen and (max-width: 356px) {
  .group-about-high-level-info .hover-wrap-inner {
    aspect-ratio: unset;
  }
  
  .group-about-high-level-info .img-with-aniamtion-wrap .hover-wrap .hover-wrap-inner img.img-with-animation.invisible {
    display: none;
  }
}