.qdb-stars {
    height: 0;
}

.qdb-stars .nectar_cascading_images>div {
    position: absolute;
}

.qdb-stars .nectar_cascading_images .cascading-image, .nectar_cascading_images .cascading-image .inner-wrap {
    text-align: left; /* override */
}

.qdb-stars .nectar_cascading_images .cascading-image:not(:first-child) {
    webkit-transform: none; /* override */
    transform: none; /* override */
}

.qdb-stars .nectar_cascading_images>div:nth-of-type(1) {
    left: 5vw; /* TODO: Update positioning to scale with active RWD margin rules */
    top: 5vh;
    opacity: 0.5;
}

.qdb-stars .nectar_cascading_images>div:nth-of-type(2) {
    left: 90vw; /* TODO: Update positioning to scale with active RWD margin rules */
    top: 35vh;
    opacity: 0.5;
}

.qdb-stars .nectar_cascading_images>div:nth-of-type(3) {
    left: 10vw; /* TODO: Update positioning to scale with active RWD margin rules */
    top: 65vh;
    opacity: 0.5;
}

.qdb-stars .nectar_cascading_images>div:nth-of-type(4) {
    left: 95vw; /* TODO: Update positioning to scale with active RWD margin rules */
    top: 95vh;
    opacity: 0.5;
}

.qdb-stars-opt2 .nectar_cascading_images>div:nth-of-type(1) {
    left: 95vw; /* TODO: Update positioning to scale with active RWD margin rules */
    opacity: 0.5;
}

.qdb-stars-opt2 .nectar_cascading_images>div:nth-of-type(2) {
    left: 10vw; /* TODO: Update positioning to scale with active RWD margin rules */
    opacity: 0.5;
}

.qdb-stars-opt2 .nectar_cascading_images>div:nth-of-type(3) {
    left: 90vw; /* TODO: Update positioning to scale with active RWD margin rules */
    opacity: 0.5;
}

.qdb-stars-opt2 .nectar_cascading_images>div:nth-of-type(4) {
    left: 5vw; /* TODO: Update positioning to scale with active RWD margin rules */
    opacity: 0.5;
}

.qdb-stars-opt3 .nectar_cascading_images>div:nth-of-type(1) {
    left: 75vw; /* TODO: Update positioning to scale with active RWD margin rules */
    opacity: 0.5;
}

.qdb-stars-opt3 .nectar_cascading_images>div:nth-of-type(2) {
    left: 20vw; /* TODO: Update positioning to scale with active RWD margin rules */
    opacity: 0.5;
}

.qdb-stars-opt3 .nectar_cascading_images>div:nth-of-type(3) {
    left: 60vw; /* TODO: Update positioning to scale with active RWD margin rules */
    opacity: 0.5;
}

.qdb-stars-opt3 .nectar_cascading_images>div:nth-of-type(4) {
    left: 35vw; /* TODO: Update positioning to scale with active RWD margin rules */
    opacity: 0.5;
}



/* ----- Background Styling: Planets ----- */


.qdb-container-planet {
    position: relative;
}

.qdb-planet {
    border-radius: 100rem;
    position: absolute;
    z-index: 50;
    width: 100%;
    transform: translateX(-50%);
}

.qdb-planet>div,
.qdb-planet>.wpb-wrapper {
    width: 100%;
    height: 100%;
}


.qdb-planet .cascading-image .img-wrap {
    width: 150px;
    height: 150px;
     width: 100%; /* v2 override */
    height: 100%; /* v2 override */
    border-radius: 100rem;
    
    /* override-able */
    background-color: #D5AAFF;
    transform: rotate(-45deg);
}



.qdb-planet .cascading-image .img-wrap::after{
    width: 100%;
    height: calc(100% + 1px);
    content: "";
    position: absolute;
    border-radius: 100rem;
    top: 0;
    left: 0;
    
    background: radial-gradient(65% 65% at 50% 15%, hsl(0 0% 100% / 50%) 0%, hsla(0 0% 0% / 95%) 100%); /* highlight/shadow */
    mix-blend-mode: multiply;
}

.qdb-container-planet .cascading-image .img-wrap img {
    width:100%;
    height:100%;
}


.qdb-planet-color-cyan .cascading-image .img-wrap {
    background-color: #00CEF8;
}

.qdb-planet-color-pink .cascading-image .img-wrap{
    background-color: #FF4FF7;
}

.qdb-planet-color-gray .cascading-image .img-wrap {
    background-color: #C0C4CF;
}

.qdb-planet-color-hero .cascading-image .img-wrap {
    background: linear-gradient(-90deg, #FF80F9 0%, #AE66FF 100%);
}

.qdb-planet-color-hero.qdb-planet-rotate-top-right .cascading-image .img-wrap,
.qdb-planet-color-hero.qdb-planet-rotate-top .cascading-image .img-wrap,
.qdb-planet-color-hero.qdb-planet-rotate-bottom-right .cascading-image .img-wrap{
    background: linear-gradient(90deg, #FF80F9 0%, #AE66FF 100%);
}

.qdb-planet-color-trans .cascading-image .img-wrap{
    background: linear-gradient(-90deg, white 17%, pink 35%, pink 65%, cyan 83%);
}

.qdb-planet-color-trans.qdb-planet-rotate-top-right .cascading-image .img-wrap,
.qdb-planet-color-trans.qdb-planet-rotate-top .cascading-image .img-wrap,
.qdb-planet-color-trans.qdb-planet-rotate-bottom-right .cascading-image .img-wrap{
    background: linear-gradient(90deg, white 17%, pink 35%, pink 65%, cyan 83%);
}

.qdb-planet-color-bi .cascading-image .img-wrap {
    background: linear-gradient(-90deg, #D70270 25%, #734F96 42%, #734F96 58%, #0038A8 75%);
}

.qdb-planet-color-bi.qdb-planet-rotate-top-right .cascading-image .img-wrap,
.qdb-planet-color-bi.qdb-planet-rotate-top .cascading-image .img-wrap,
.qdb-planet-color-bi.qdb-planet-rotate-bottom-right .cascading-image .img-wrap{
    background: linear-gradient(90deg, #D70270 25%, #734F96 42%, #734F96 58%, #0038A8 75%);
}

.qdb-planet-color-pan .cascading-image .img-wrap{
    background: linear-gradient(-90deg, #FF218C 17%, #FFD800 35%, #FFD800 65%, #21B1FF 83%);
}

.qdb-planet-color-pan.qdb-planet-rotate-top-right .cascading-image .img-wrap,
.qdb-planet-color-pan.qdb-planet-rotate-top .cascading-image .img-wrap,
.qdb-planet-color-pan.qdb-planet-rotate-bottom-right .cascading-image .img-wrap{
    background: linear-gradient(90deg, #FF218C 17%, #FFD800 35%, #FFD800 65%, #21B1FF 83%);
}

.qdb-planet-color-asexual .cascading-image .img-wrap {
    background: linear-gradient(-90deg, #333333 15%, #A4A4A4 40%, #DDDDDD 60%, #DDDDDD 70%, #810086 95%);
}

.qdb-planet-color-asexual.qdb-planet-rotate-top-right .cascading-image .img-wrap,
.qdb-planet-color-asexual.qdb-planet-rotate-top .cascading-image .img-wrap,
.qdb-planet-color-asexual.qdb-planet-rotate-bottom-right .cascading-image .img-wrap{
    background: linear-gradient(90deg, #333333 15%, #A4A4A4 40%, #DDDDDD 60%, #DDDDDD 70%, #810086 95%);
}

.qdb-planet-color-intersex .cascading-image .img-wrap {
    background: linear-gradient(-90deg, #FFDA00 50%, #7A00AC 90%);
}

.qdb-planet-color-intersex.qdb-planet-rotate-top-right .cascading-image .img-wrap,
.qdb-planet-color-intersex.qdb-planet-rotate-top .cascading-image .img-wrap,
.qdb-planet-color-intersex.qdb-planet-rotate-bottom-right .cascading-image .img-wrap{
    background: linear-gradient(90deg, #FFDA00 50%, #7A00AC 90%);
}