/* Bio */

.cohort-members .directory-result-member-bio span {
  -webkit-line-clamp: 10;
}

/* Button */

.cohort-members a[href=''] {
  /* Hide cohort members' portfolio link buttons if they're empty */
  display: none;
}

body.material .cohort-members .member-card .nectar-button.accent-color {
  --color-member-highlight: var(--color-brand-purple); /* override */
}

body.material .cohort-members .member-card .nectar-button.large:hover, 
.cohort-members .member-card .nectar-button[data-color-override="false"].regular-button.large:hover {
  --color-member-highlight-shade: var(--color-brand-purple-shade); /* override */
}

.cohort-members .nectar-button, 
.cohort-members .nectar-button[data-color-override="false"].regular-button, 
body[data-button-style*="slightly_rounded"] .cohort-members .nectar-button {
  margin-bottom: 2rem; /* override */
}

