/* STYLES FOR EVENT POST TYPE RELATED PAGES AND COMPONENTS */

/* ALL EVENTS WIDGETS */

.event-widget-column-summary,
.event-widget-future-book-club-column-info,
.event-widget-future-ux-nights-column-info {
    font-family: proxima-soft; /* TODO: Use css variable */
}

/* Columns */
/* Override/Force spacing because widget is contained within Global Section 
    - If the Search & Filter shortcode was inserted at the top/main level row, the column margin setting would render correctly. But since the shortcode is wrapped in a Global Section, that for some reason ignores the column margin setting
*/

body .container-wrap .vc_row-fluid[data-column-margin="40px"] .wpb_column:not(.child_column), body .container-wrap .inner_row[data-column-margin="40px"] .child_column {
    padding-left: 20px;
    padding-right: 20px;
    
}


/* Featured Image */

.row .col.event-widget-column-summary .event-widget-element-featured-image {
    margin-bottom: 1rem;
}


/* Crop featured image by aspect ratio - Post summary */
.event-widget-column-summary .event-widget-element-featured-image {
    overflow: hidden;
}

.event-widget-column-summary-book-club .event-widget-element-featured-image {
    aspect-ratio: 6/9;
}

.event-widget-column-summary-ux-nights .event-widget-element-featured-image {
    aspect-ratio: 16/9;
}

.event-widget-column-summary .event-widget-element-featured-image .wpb_wrapper {
    transform: translate(0, -50%);
    position: relative;
    top: 50%;
    height: 100%;
}

.event-widget-column-summary .event-widget-element-featured-image .wpb_wrapper p {
    /* height: 100%; */
    transform: translate(0, -50%);
    position: relative;
    top: 50%;
    /* height: 100%; */
}





/* Dates */
.event-widget-element-event-date,
.event-widget-element-event-date span{
    font-family: new-spirit; /* TODO: Use CSS Variable */
}

.event-widget-column-summary .event-widget-element-event-date{
    padding-bottom: 0;
}

.event-widget-future-ux-nights-column-info .event-widget-element-event-date,
.event-widget-future-book-club-column-info .event-widget-element-event-date {
    margin-bottom: 0;
}


/* Headings */
.event-widget-column-summary .event-widget-element-post-heading,
.event-widget-future-ux-nights-column-info .event-widget-element-post-heading,
.event-widget-future-ux-nights-column-info .event-widget-element-event-name,
.event-widget-future-book-club-column-info .event-widget-element-post-heading,
.vc_custom_heading.book-subtitle{
    margin-top: 0;
}

.row_inner_book_subtitle {
    margin-top: -1.5rem;
}

.vc_custom_heading.book-subtitle {
    margin-top: 0;
    font-family: var(--font-family-default);
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4);
}

/* SPECIFIC WIDGETS */

/* Widget: Post Summary */
.event-widget-column-summary {
    margin-bottom: 4rem;
    text-align: left; /* force assign to offset center alignment in some parent containers */
}

.row .col.event-widget-column-summary img {
    margin-bottom: 0;
}


/* Widget: Future UX Nights */

/* Vertically center info container for future UX Nights */
.event-widget-future-ux-nights-column-info .vc_column-inner {
    transform: translate(0, -50%);
    position: relative;
    top: 50%;
}

