/* Newsletter form section */
.footer-styling h2 {
    font-weight: 600;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-styling ul {
    margin-left: 0;
    margin-bottom: 0;
}

.footer-styling ul li {
    list-style-type: none;
}

.material .footer-newsletter-valueProp {
  margin-bottom: 0;
}

#footer-custom #field_1_1 {
  /* Text field container */
  margin-top: 0;
}

#footer-custom #field_1_1 .ginput_container {
  /* Text field container */
  margin-top: 0;
}


/* Newsletter Submit button */
#footer-custom .gform_legacy_markup_wrapper .gform_footer {
  /* Button container */
  margin-top: var(--spacing-small);
}

.before-footer #gform_wrapper_1,
.before-footer .gform_legacy_markup_wrapper .gform_footer input[type=submit] {
  margin-bottom: 0;
}




/* Footer: Legal */

.footer-inline ul {
    margin-left: 0;
}
.footer-inline ul li {
  display: inline;
  padding-right: 20px;
}

@media screen and (max-width: 480px) {
  .footer-inline ul li {
    display: list-item;
    list-style: none;
  }
}

.footer-legal, .footer-legal * {
    font-size: var(--font-size-sub-paragraph);
    line-height: var(--line-height-sub-paragraph);
}


.before-footer #gform_wrapper_1 {
  margin-bottom: 0;
}