// form .gform_body .gfield input,
// form .gform_body .gfield select,
// form .gform_body .gfield textarea {
//     background-color: hsla(0 0% 0% / 20%); /* TEMP: Use color variable */
//     border: 2px solid hsla(0 100% 100% / 20%); /* TEMP: Use color variable */
//     border-radius: 0.5rem;
// }

form .gform_body .gfield input::placeholder {
    color: transparent;
}

.gform_legacy_markup_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    padding: 1rem; /* override */
}

.before-footer .gform_legacy_markup_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    padding: 0.5rem; /* override */
}


/* From Bulk Styling */

.gform_wrapper .gfield_label {
    font-size: var(--font-size-paragraph);
    line-height: var(--line-height-paragraph);
}

.gform_wrapper .description, 
.gform_wrapper .gfield_description, 
.gform_wrapper .gsection_description, 
.gform_wrapper .instruction {
    font-size: var(--font-size-sub-paragraph);
    line-height: var(--line-height-sub-paragraph);
}

.gform_wrapper .gfield_required {
    font-size: var(--font-size-sub-paragraph);
    line-height: var(--line-height-sub-paragraph);
}


.gform_wrapper input[type=color], 
.gform_wrapper input[type=date], 
.gform_wrapper input[type=datetime-local], 
.gform_wrapper input[type=datetime], 
.gform_wrapper input[type=email], 
.gform_wrapper input[type=month], 
.gform_wrapper input[type=number], 
.gform_wrapper input[type=password], 
.gform_wrapper input[type=search], 
.gform_wrapper input[type=tel], 
.gform_wrapper input[type=text], 
.gform_wrapper input[type=time], 
.gform_wrapper input[type=url], 
.gform_wrapper input[type=week], 
.gform_wrapper select,
.gform_wrapper textarea,
.gform_wrapper .chosen-container-single .chosen-single,
body .gform_wrapper .chosen-container a.chosen-single {
    background: hsla(0 0.01% 100% / 10%); /* temporary, needs variable */
    backdrop-filter: blur(var(--radius-background-blur));
    -webkit-backdrop-filter: blur(var(--radius-background-blur));
    
    font-size: var(--font-size-paragraph);
    line-height: var(--line-height-paragraph);
    
    color: hsla(0 100% 100% / 75%); /* TEMP: Use color variable for default font color */
    border: 2px solid hsla(0 0.01% 100% / 20%); /* temporary, needs variable */
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0.5rem;
    padding: 8px;
}

.gform_wrapper .chosen-container-single .chosen-single {
    height: auto;
}

.gform_wrapper .chosen-container-single .chosen-single span {
    line-height: var(--line-height-paragraph);
}

.gform_wrapper .chosen-container-single .chosen-single div b { /* dropdown arrow icon */
    margin-top: 4px;
}