.sf-menu .menu-item a {
  white-space: nowrap; /* Ensure links and dropdown arrows stay on one line */
}

#header-outer .sf-menu a .menu-title-text {
  font-weight: 500;
}

#logo {
  text-decoration: none;
  text-transform: lowercase;

  margin-top: 0px !important;
  margin-bottom: 0px !important;

  @media only screen and (min-width: 999px) {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    
  }
}
#logo img { 
  /* margin-left: -24px!important; */
  height: 36px !important;

  @media only screen and (min-width: 999px) {
    height: 48px !important;
  }
}

.nav-button a:before {
  border-color: rgba(255,255,255,.75)!important;
}

#top nav>ul>li[class*=button_bordered]>a:before {
  border-color: var(--color-text-on-color-default); /* Override */
}

#header-outer #top nav > ul > .button_bordered > a:hover {
  --local-color-button-hover: var(--color-brand-purple-tint);
  color: var(--local-color-button-hover) !important; /*Override */
}

#header-outer:not(.transparent) #top nav > ul > .button_bordered > a:hover:before {
  border-color: var(--local-color-button-hover) !important; /*Override */
}