body #header-outer, body[data-header-color="dark"] #header-outer { /* overrides Salient Panel/Header Navigation/Header Background */
    // background-color: hsla(267 100% 5% / 90%);
}

@supports (backdrop-filter: blur(1px)) {
    body #header-outer, body[data-header-color="dark"] #header-outer { /* overrides Salient Panel/Header Navigation/Header Background */
        // backdrop-filter: blur(var(--radius-background-blur));
    }    
}

@supports (-webkit-backdrop-filter: blur(1px)) {
    body #header-outer, body[data-header-color="dark"] #header-outer { /* overrides Salient Panel/Header Navigation/Header Background */
        // background-color: hsla(267 100% 5% / 70%);
        // backdrop-filter: blur(var(--radius-background-blur));
        // -webkit-backdrop-filter: blur(var(--radius-background-blur));
    }    
}

.sf-menu .menu-item a {
  white-space: nowrap; /* Ensure links and dropdown arrows stay on one line */
}

#header-outer .sf-menu a .menu-title-text {
    font-weight: 500;
}

#logo {
    text-decoration: none;
}
#logo img { margin-left: -24px!important;}

.nav-button a:before {
    border-color: rgba(255,255,255,.75)!important;
}