body #header-outer, body[data-header-color="dark"] #header-outer { /* overrides Salient/Header Navigation/Header Background */
    background-color: hsla(0deg 0.01% 9% / 90%);
    backdrop-filter: blur(var(--radius-background-blur));
    -webkit-backdrop-filter: blur(var(--radius-background-blur));
}

#logo img { margin-left: -24px!important;}

.nav-button a:before {
    border-color: rgba(255,255,255,.75)!important;
}