/* COURSE OVERVIEW PAGE */

.learndash-wrapper .planetContainer {
  z-index: -1;
}

.section-title h1.entry-title {
  text-align: left;
  max-width: 65ch;
}

/* Course page: User type section (For Login/Logout button) */
.learndash-course-visitor-message,
.learndash-course-student-message{
  text-align: center;
}



/* COURSE CONTENT PAGE */


body.ld-in-focus-mode, .learndash-wrapper .ld-focus .ld-focus-main, .ld-focus-content, .ld-focus-content .learndash .learndash-wrapper {
  /* Content Panel */
  background-color: var(--color-bg-dark-default);
}

.learndash-wrapper .ld-table-list .ld-table-list-items {
  /* Course list */
  background-color: var(--color-bg-light-default);
}



/* LOGIN MODAL

Part of a fix to prevent scrolling and keep the login model
fixed positioning in the center of the page

https://www.notion.so/qtbipocdesign/Learndash-Login-Modal-93e71dfba7cc4a78873318f2b58c0916

*/


.learndash-wrapper .ld-login-modal {
  margin: 0; /* overrides default */
  /*margin-top: calc((100vh + 5rem) / 2); /* 5rem for header height at desktop size */
  /*margin-left: 50%;*/
  /*margin-bottom: 0;*/
  /*margin-right: 0;*/
  transform: translate(-50%, -50%); /* override default */
}

.learndash-wrapper .ld-modal {
  position: fixed; /* overrides default */
  top: calc((100vh + 5rem) / 2); /* 5rem for header height */
  left: 50%;
  max-height: calc(100vh - 5rem - 4rem); /* 5rem for header height, 4rem for 2x2rem of spacing above and below */
  box-shadow: 0 0 20px var(--color-shadow-default-onlight);
  border-radius: 1rem; /* overrides default */
  border: 1px solid var(--color-line-default);
}

@media (max-width: 640px) {
  .learndash-wrapper .ld-modal {
      top: calc((100vh + 3rem) / 2);; /* 3rem for header height at 640px viewport width */
  }    
}


.learndash-wrapper .ld-login-modal .ld-login-modal-login {
  justify-content: flex-start; /* overrides default */
}


/* LearnDash modal internal styling */


/* Section: Log-in */
.learndash-wrapper .ld-login-modal .ld-login-modal-login {
  background-color: var(--color-bg-default-light);
}

.learndash-wrapper .ld-login-modal:not(.ld-can-register) {
  max-width: 40rem ;
}


/* Headings */
.learndash-wrapper .ld-modal .ld-modal-heading {
  font-family: var(--font-family-special);
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
}

/* Copy */
.learndash-wrapper .ld-modal a, 
.learndash-wrapper .ld-login-modal .ld-forgot-password-link, 
.learndash-wrapper .ld-modal .ld-login-modal-login .ld-modal-text,
.learndash-wrapper .ld-modal .ld-login-modal-register .ld-modal-text{
  font-size: var(--font-size-paragraph);
  line-height: var(--line-height-paragraph);
}

.learndash-wrapper .ld-login-modal .ld-login-modal-form p,
.learndash-wrapper .ld-login-modal .ld-login-modal-register form p{
  padding-bottom: 0;
  margin-bottom: 1rem;
}

/* Form labels */
.learndash-wrapper .ld-login-modal .ld-login-modal-form label,
.learndash-wrapper .ld-login-modal .ld-login-modal-register label{
  font-size: var(--font-size-sub-paragraph);
  line-height: var(--line-height-sub-paragraph);
}

.learndash-wrapper .ld-login-modal .ld-login-modal-register #reg_passmail {
  font-size: var(--font-size-sub-paragraph);
  line-height: var(--line-height-sub-paragraph);
}


/* Login modal buttons */
.learndash-wrapper .ld-login-modal input[type='submit'] {
  font-size: var(--font-size-paragraph); /* override default */
  line-height: var(--line-height-paragraph);
  margin: 1rem 0;
  
}

.learndash-wrapper .ld-login-modal-register .ld-button:not(.learndash-link-previous-incomplete):not(.ld-button-transparent),
.learndash-wrapper .ld-login-modal .ld-login-modal-register #wp-submit{
  border-radius: 100rem; /* override default */
  font-family: var(--font-family-special);
  font-size: var(--font-size-paragraph); /* override default */
  line-height: var(--line-height-paragraph);
  padding: 0.75em 5em !important;
  border-radius: 100rem; /* override default */
  border: 0;
  margin: 1rem 0;
}


.learndash-wrapper .ld-login-modal>:not(.ld-login-modal-register) input[type='submit'] {
  background-color: var(--color-bg-color-accent) !important; /* override defaut */
  color: var(--color-text-on-color-default);
}

/* LD Form fields */

.learndash-wrapper .ld-login-modal input[type='text'],
.learndash-wrapper .ld-login-modal input[type='password'], 
.learndash-wrapper .ld-login-modal input[type='email'], 
.learndash-wrapper .ld-login-modal .ld-login-field, 
.learndash-wrapper .ld-login-modal .ld-password-field,
.learndash-wrapper .ld-login-modal .ld-login-modal-register input[type='text'],
.learndash-wrapper .ld-login-modal .ld-login-modal-register input[type='password'],
.learndash-wrapper .ld-login-modal .ld-login-modal-register input[type='email']{
  font-size: var(--font-size-paragraph);
  line-height: var(--line-height-paragraph);
}

.learndash-wrapper #loginform input[type='checkbox'] {
  width: var(--font-size-paragraph);
  height: var(--font-size-paragraph);
  vertical-align: bottom;
}

/* LD form field icons */
.learndash-wrapper .ld-login-modal .ld-login-modal-form .login-username:before,
.learndash-wrapper .ld-login-modal .ld-login-modal-form .login-password:before{
  top: 2.75rem; /* override default */
}


/* LD login modal colors and styling */

.learndash-wrapper .ld-modal .ld-login-modal-login .ld-modal-heading {
  color: var(--color-text-dark-on-light-default) !important;
}

.learndash-wrapper .ld-modal .ld-login-modal-register .ld-modal-heading {
  color: var(--color-text-default-ondark);
}


.learndash-wrapper .ld-modal .ld-login-modal-login .ld-modal-text,
.learndash-wrapper .ld-login-modal .ld-login-modal-form label {
  color: var(--color-text-dark-on-light-default);
}

.learndash-wrapper .ld-login-modal .ld-login-modal-register .ld-modal-text,
.learndash-wrapper .ld-login-modal .ld-login-modal-register label,
.learndash-wrapper .ld-login-modal .ld-login-modal-register p{
  color: var(--color-text-default-ondark);
}


.learndash-wrapper .ld-login-modal input[type='text'],
.learndash-wrapper .ld-login-modal input[type='password'], 
.learndash-wrapper .ld-login-modal input[type='email'], 
.learndash-wrapper .ld-login-modal .ld-login-field, 
.learndash-wrapper .ld-login-modal .ld-password-field,
.learndash-wrapper .ld-login-modal .ld-login-modal-register input[type='text']:focus,
.learndash-wrapper .ld-login-modal .ld-login-modal-register input[type='password']:focus,
.learndash-wrapper .ld-login-modal .ld-login-modal-register input[type='email']:focus{
  border: 0;
  background-color: var(--color-bg-emphasis-light);
  color: var(--color-text-default-onlight);
}


.learndash-wrapper .ld-login-modal .ld-login-modal-register input[type='text'],
.learndash-wrapper .ld-login-modal .ld-login-modal-register input[type='password'],
.learndash-wrapper .ld-login-modal .ld-login-modal-register input[type='email'] {
  border: 0;
  padding: 0.5rem;
  margin-top: 0.25em; /* minor offset to match the login side */
}



/* Course Status Widget */
/* Not enrolled state */

.learndash-wrapper .ld-course-status,
.learndash-wrapper .ld-course-status.ld-course-status-not-enrolled {
  background-color: var(--color-bg-neutral-subtle-light);
  border: 1px solid var(--color-line-deemphasis-ondark);
  border-radius: 1rem;
  margin: 3rem 0;
}

/* Status widget: Divider */
.learndash-wrapper .ld-course-status.ld-course-status-not-enrolled > * {
  border-right: 1px solid var(--color-line-default-onlight);
}

@media only screen and (max-width: 640px) {
  .learndash-wrapper .ld-course-status.ld-course-status-not-enrolled > * {
      border-bottom: 1px solid var(--color-line-default-onlight);
      border-right: 0;
  }
}

/* Status widget: Label headings */
.learndash-wrapper .ld-course-status.ld-course-status-not-enrolled .ld-course-status-label {
  color: var(--color-text-deemphasis-ondark);
  font-size: var(--font-size-sub-paragraph);
  line-height: var(--line-height-sub-paragraph);
}


/* Status widget: price text */
.learndash-wrapper .ld-course-status.ld-course-status-not-enrolled .ld-course-status-price {
  font-size: var(--font-size-h5);
  line-height: var(--line-height-h5);
  color: var(--color-text-default-ondark);
}



/* Enrolled state */
.learndash-wrapper .ld-course-status.ld-course-status-enrolled{
  display: none;
}


/* Course Status Last activity label */
.learndash-wrapper .ld-progress .ld-progress-heading {
  font-size: var(--font-size-sub-paragraph);
  line-height: var(--line-height-sub-paragraph);
}


/* Progress bar */

/* Progress bar related */ /* Hiding per Liz's request 3/2021 */
.learndash-wrapper .ld-focus .ld-focus-header .ld-progress, /* Class page header */
.learndash-wrapper .ld-progress.ld-progress-inline .ld-progress-bar, /* Course page bar graphic */
.learndash-wrapper .ld-progress .ld-progress-heading .ld-progress-stats .ld-progress-percentage  /* Course page progress label */ {
  display: none;
}



/* Progress bar container */
.learndash-wrapper .ld-progress .ld-progress-bar /* Course page, class page */ {
  height: 1rem;
}

@media only screen and (min-width: 769px) {
  
  .learndash-wrapper .ld-progress .ld-progress-bar /* Course page, class page */ {
      margin: 0 0 0.5rem 0;
  }
}



/* Progress bar fill */
.learndash-wrapper .ld-progress .ld-progress-bar .ld-progress-bar-percentage /* Course page */ {
  height: 100%;
  background-color: var(--color-text-default-onlight) !important;
}

/* Progress label */
.learndash-wrapper .ld-progress .ld-progress-heading .ld-progress-stats .ld-progress-percentage /* Course page */ {
  color: var(--color-text-default-onlight) !important;
}



/* Focus Header (Class page) */
.learndash-wrapper .ld-focus .ld-focus-header .ld-user-menu {
  min-width: 75px; /* adding min width so that even with hidden avatar element, there's still a large enough target to interact with  */
  
}

/* Focus header profile avatar */
.learndash-wrapper .ld-focus .ld-focus-header .ld-user-menu .ld-profile-avatar {
  display: none; /* Can't really add a profile image, so we're removing it */
}


/* LearnDash button container */

.container-button-learndash {
  display: inline-block;
}

.container-button-learndash .ld-button,
.ld-course-list-items .ld_course_grid .ld_course_grid_button .btn /* course list card button */ {
  
  /* Mimic Nectar button style */
  padding-left: 3em;
  padding-right: 3em;
  font-family: var(--font-family-special);
  font-size: var(--font-size-paragraph);
  line-height: var(--line-height-paragraph);
  border-radius: 10rem;
  transition: opacity .45s cubic-bezier(.25,1,.33,1),transform .45s cubic-bezier(.25,1,.33,1),border-color .45s cubic-bezier(.25,1,.33,1),color .45s cubic-bezier(.25,1,.33,1),background-color .45s cubic-bezier(.25,1,.33,1),box-shadow .45s cubic-bezier(.25,1,.33,1);
  -webkit-transition: opacity .45s cubic-bezier(.25,1,.33,1),transform .45s cubic-bezier(.25,1,.33,1),border-color .45s cubic-bezier(.25,1,.33,1),color .45s cubic-bezier(.25,1,.33,1),background-color .45s cubic-bezier(.25,1,.33,1),box-shadow .45s cubic-bezier(.25,1,.33,1);
}

.container-button-learndash .ld-button:hover,
.ld-course-list-items .ld_course_grid .ld_course_grid_button .btn:hover /* course list card button */{
  
  /* Mimic Nectar button style */
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  box-shadow: 0 20px 38px var(--color-shadow-diffused-onlight) !important;
  
}

.container-button-learndash.button-primary .ld-button {
  font-size:var(--font-size-super-paragraph);
  
}

.container-button-learndash.button-primary .learndash-wrapper .ld-button:not(.ld-button-reverse):not(.learndash-link-previous-incomplete):not(.ld-button-transparent) {
  background-color: var(--color-bg-default-dark-purple) !important;
  
}


/* Login/out button */
.container-login-ld /* Course page */,
.container-loginout-ld /* Course page */{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container-login-ld .ld-button.ld-login-button,
.container-loginout-ld .ld-button.ld-login-button{
  margin: 0 auto;
  display: block;
  
}


/* Resume course button */
.container-cta-ld-resume-course {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}
.container-cta-ld-resume-course .ld-button.ld-course-resume {
  margin: 0 auto;
}

.container-login-ld .ld-button.ld-login-button:hover,
.container-loginout-ld .ld-button.ld-login-button:hover,
.container-cta-ld-resume-course .ld-button.ld-course-resume:hover {
  /* NOTE: Maybe apply standard button style instead for .ld-button? */
  text-decoration: none;
}