.planetContainer {

	/* Defaults */
	--planet-diameter: 150px;
	--planet-sprite_x: 50%;
	--planet-sprite_y: 50%;
	--planet-offset_x: 0px;
	--planet-offset_y: 0px;
	--color-base: #9700FF;
	
	position: absolute;
	left: var(--planet-offset_x);
	top: var(--planet-offset_y);
	transform: translate(-50%, -50%);

}

.planet {

	/* Defaults */
	// --planet-diameter: 150px; // move to .planetContainer
	// --planet-sprite_x: 50%; // move to .planetContainer
	// --planet-sprite_y: 50%; // move to .planetContainer
	// --planet-offset_x: 0px; // move to .planetContainer
	// --planet-offset_y: 0px; // move to .planetContainer
	// --color-base: #9700FF; // move to .planetContainer
	
	background-color: red;
	background-color: var(--color-base);
	width: var(--planet-diameter);
	height: var(--planet-diameter);

	clip-path: circle(50% at 50% 50%);
	// position: absolute;
	// left: var(--planet-offset_x); // move to .planetContainer
	// top: var(--planet-offset_y); // move to .planetContainer
	// transform: translate(-50%, -50%); // move to .planetContainer
}

.planet::after{
	display: block;
	width: 100%;
	height: 100%;
	content: "";
	background-image: radial-gradient(circle at 25% 25%, hsla(0 0.01% 100% / 0.35) 0%, hsla(0 0.01% 100% / 0) 50%, hsla(0 0.01% 0.01% / .5) 100%);position: absolute;
	left:0;
	top:0;
}


.planet .svgTexture {

	--ratio-planet-diameter-to-sprite: 0.2;
	--translate-offset: calc(var(--ratio-planet-diameter-to-sprite) / 2 * 100%); /* Half of planet diameter as percentage of sprite */
	--translate-sprite-x: calc(-1 * (var(--planet-sprite_x) - var(--translate-offset)));
	--translate-sprite-y: calc(-1 * (var(--planet-sprite_y) - var(--translate-offset)));
	--translate: translate(var(--translate-sprite-x), var(--translate-sprite-y));
	
	width: calc(100% / var(--ratio-planet-diameter-to-sprite));
	transform: var(--translate);
 	-webkit-transform: var(--translate);
	
	background-color: var(--color-base);
}


/* Planet Color Schemes */

.planet.scheme-monochromatic .svgTexture,
.planetContainer.scheme-monochromatic .svgTexture {
    --color-fill-1: hsla(var(--color-base-hue) var(--color-sla-tint));
    --color-fill-2: hsla(var(--color-base-hue) var(--color-sla-shade));
    
    
	--fill-svg-1: var(--color-fill-1);
	--fill-svg-2: var(--color-fill-2);
	--fill-svg-3: var(--color-fill-1);
	--fill-svg-4: var(--color-fill-2);
	--fill-svg-5: var(--color-fill-1);
	--fill-svg-6: var(--color-fill-2);
	--fill-svg-7: var(--color-fill-1);
}


.planet.scheme-analogous .svgTexture,
.planetContainer.scheme-analogous .svgTexture {
    --color-lower-hue:  calc(var(--color-base-hue) + var(--color-analogous-degree-shift-lower));
    --color-higher-hue: calc(var(--color-base-hue) + var(--color-analogous-degree-shift-higher));
	--color-saturation-child: calc(var(--color-base-saturation) * 0.8);
    --color-lightness-child: calc(var(--color-base-lightness) * 0.8);
    /* --color-fill-1: hsl(var(--color-lower-hue) var(--color-base-saturation) var(--color-base-lightness)); */
    /* --color-fill-2: hsl(var(--color-higher-hue) var(--color-base-saturation) var(--color-base-lightness)); */
    --color-fill-1: hsl(var(--color-lower-hue) var(--color-saturation-child) var(--color-lightness-child)); /* experiment */
    --color-fill-2: hsl(var(--color-higher-hue) var(--color-saturation-child) var(--color-lightness-child)); /* experiment */

	--fill-svg-1: var(--color-fill-1);
	--fill-svg-2: var(--color-fill-2);
	--fill-svg-3: var(--color-fill-1);
	--fill-svg-4: var(--color-fill-2);
	--fill-svg-5: var(--color-fill-1);
	--fill-svg-6: var(--color-fill-2);
	--fill-svg-7: var(--color-fill-1);
	
}

.planet.scheme-lesbian,
.planetContainer.scheme-lesbian {
	--color-base-hue: 0; /* TODO: use variable for white hue */
	--color-base-saturation: 0.01%; /* TODO: use variable for white saturation */
	--color-base-lightness: 100%; /* TODO: use variable for white lightness */
	
	--color-fill-1: hsla(var(--color-hue-brand-pink) var(--color-sla-shade)); /* dark pink */
	--color-fill-2: hsla(var(--color-hue-brand-pink) var(--color-sla-default)); /* pink */
	--color-fill-3: hsla(var(--color-hue-brand-pink) var(--color-sla-tint)); /* light pink */
	--color-fill-4: var(--color-brand-white); /* white */
	--color-fill-5: hsla(var(--color-hue-brand-orange) var(--color-sla-tint)); /* light orange */
	--color-fill-6: hsla(var(--color-hue-brand-orange) var(--color-sla-default)); /* orange */
	--color-fill-7: hsla(var(--color-hue-brand-orange) var(--color-sla-shade)); /* dark orange */
	
	
	--fill-svg-1: var(--color-fill-1);
	--fill-svg-2: var(--color-fill-2);
	--fill-svg-3: var(--color-fill-3);
	--fill-svg-4: var(--color-fill-2);
	--fill-svg-5: var(--color-fill-5);
	--fill-svg-6: var(--color-fill-6);
	--fill-svg-7: var(--color-fill-7);
}

.planet.scheme-lesbian,
.planet.scheme-lesbian *,
.planetContainer.scheme-lesbian,
.planetContainer.scheme-lesbian * {
    /* applies to the areas both outside and inside of SVG bounds */
	--color-base: var(--color-fill-4);
	--color-base: hsl(var(--color-base-hue) var(--color-base-saturation) var(--color-base-lightness));
}



.planet.scheme-pansexual,
.planetContainer.scheme-pansexual {
	--color-base-hue: var(--color-hue-brand-yellow);
	--color-base-saturation: var(--color-saturation-default);
	--color-base-lightness: var(--color-lightness-default);
	
	--color-fill-1: var(--color-brand-pink); /* pink */
	--color-fill-2: var(--color-brand-yellow); /* yellow */
	--color-fill-3: var(--color-brand-lightblue); /* light blue */	

	--fill-svg-1: var(--color-fill-1);
	--fill-svg-2: var(--color-fill-3);
	--fill-svg-3: var(--color-fill-1);
	--fill-svg-4: var(--color-fill-3);
	--fill-svg-5: var(--color-fill-1);
	--fill-svg-6: var(--color-fill-3);
	--fill-svg-7: var(--color-fill-1);
}



.planet.scheme-pansexual,
.planet.scheme-pansexual *,
.planetContainer.scheme-pansexual,
.planetContainer.scheme-pansexual * {
    /* applies to the areas both outside and inside of SVG bounds */
	--color-base: var(--color-fill-2);
	--color-base: hsl(var(--color-base-hue) var(--color-base-saturation) var(--color-base-lightness));
}


.planet.scheme-bisexual,
.planetContainer.scheme-bisexual {
	--color-base-hue: var(--color-hue-brand-purple);
	--color-base-saturation: var(--color-saturation-default);
	--color-base-lightness: var(--color-lightness-default);
	
	--color-fill-1: var(--color-brand-pink);
	--color-fill-2: var(--color-brand-purple);
	--color-fill-3: var(--color-brand-blue);

	--fill-svg-1: var(--color-fill-1);
	--fill-svg-2: var(--color-fill-3);
	--fill-svg-3: var(--color-fill-1);
	--fill-svg-4: var(--color-fill-3);
	--fill-svg-5: var(--color-fill-1);
	--fill-svg-6: var(--color-fill-3);
	--fill-svg-7: var(--color-fill-1);
}

.planet.scheme-bisexual,
.planet.scheme-bisexual *,
.planetContainer.scheme-bisexual,
.planetContainer.scheme-bisexual * {
    /* applies to the areas both outside and inside of SVG bounds */
	--color-base: var(--color-fill-2);
	--color-base: hsl(var(--color-base-hue) var(--color-base-saturation) var(--color-base-lightness));
}


.planet.scheme-trans,
.planetContainer.scheme-trans {
	--color-base-hue: 0; /* TODO: use variable for white hue */
	--color-base-saturation: 0.01%; /* TODO: use variable for white saturation */
	--color-base-lightness: 100%; /* TODO: use variable for white lightness */
	
	--color-fill-1: var(--color-brand-lightblue);
	--color-fill-2: var(--color-brand-white);
	--color-fill-3: var(--color-brand-pink-tint);

	--fill-svg-1: var(--color-fill-1);
	--fill-svg-2: var(--color-fill-3);
	--fill-svg-3: var(--color-fill-1);
	--fill-svg-4: var(--color-fill-3);
	--fill-svg-5: var(--color-fill-1);
	--fill-svg-6: var(--color-fill-2);
	--fill-svg-7: var(--color-fill-3);
}

.planet.scheme-trans,
.planet.scheme-trans *,
.planetContainer.scheme-trans,
.planetContainer.scheme-trans * {
    /* applies to the areas both outside and inside of SVG bounds */
	--color-base: var(--color-fill-2);
	--color-base: hsl(var(--color-base-hue) var(--color-base-saturation) var(--color-base-lightness));
}


.planet.scheme-asexual,
.planetContainer.scheme-asexual {
	--color-base-hue: var(--color-hue-brand-purple);
	--color-base-saturation: var(--color-saturation-default);
	--color-base-lightness: var(--color-lightness-default);

	--color-fill-1: var(--color-brand-black);
	--color-fill-2: hsl(0 0% var(--color-lightness-tint));
	--color-fill-3: var(--color-brand-white);
	--color-fill-4: var(--color-brand-purple);

	--fill-svg-1: var(--color-fill-1);
	--fill-svg-2: var(--color-fill-2);
	--fill-svg-3: var(--color-fill-3);
	--fill-svg-4: var(--color-fill-1);
	--fill-svg-5: var(--color-fill-2);
	--fill-svg-6: var(--color-fill-3);
	--fill-svg-7: var(--color-fill-1);
}

.planet.scheme-asexual,
.planet.scheme-asexual *,
.planetContainer.scheme-asexual,
.planetContainer.scheme-asexual * {
    /* applies to the areas both outside and inside of SVG bounds */
	--color-base: var(--color-fill-4);
	--color-base: hsl(var(--color-base-hue) var(--color-base-saturation) var(--color-base-lightness));
}



.planet.scheme-intersex,
.planetContainer.scheme-intersex {
	--color-base-hue: var(--color-hue-brand-yellow);
	--color-base-saturation: var(--color-saturation-default);
	--color-base-lightness: var(--color-lightness-default);

	--color-fill-1: var(--color-brand-yellow);
	--color-fill-2: var(--color-brand-purple);

	--fill-svg-1: var(--color-fill-2);
	--fill-svg-2: var(--color-fill-2);
	--fill-svg-3: var(--color-fill-2);
	--fill-svg-4: var(--color-fill-2);
	--fill-svg-5: var(--color-fill-2);
	--fill-svg-6: var(--color-fill-2);
	--fill-svg-7: var(--color-fill-2);
}

.planet.scheme-intersex,
.planet.scheme-intersex *,
.planetContainer.scheme-intersex,
.planetContainer.scheme-intersex * {
    /* applies to the areas both outside and inside of SVG bounds */
	--color-base: var(--color-fill-1);
	--color-base: hsl(var(--color-base-hue) var(--color-base-saturation) var(--color-base-lightness));
}


.planet.scheme-nonbinary,
.planetContainer.scheme-nonbinary {
	--color-base-hue: var(--color-hue-brand-yellow);
	--color-base-saturation: var(--color-saturation-default);
	--color-base-lightness: var(--color-lightness-default);

	--color-fill-1: var(--color-brand-yellow);
	--color-fill-2: var(--color-brand-white);
	--color-fill-3: var(--color-brand-purple);
	--color-fill-4: var(--color-brand-black);

	--fill-svg-1: var(--color-fill-2);
	--fill-svg-2: var(--color-fill-3);
	--fill-svg-3: var(--color-fill-4);
	--fill-svg-4: var(--color-fill-2);
	--fill-svg-5: var(--color-fill-3);
	--fill-svg-6: var(--color-fill-4);
	--fill-svg-7: var(--color-fill-3);
}

.planet.scheme-nonbinary,
.planet.scheme-nonbinary *,
.planetContainer.scheme-nonbinary,
.planetContainer.scheme-nonbinary * {
    /* applies to the areas both outside and inside of SVG bounds */
	--color-base: var(--color-fill-1);
	--color-base: hsl(var(--color-base-hue) var(--color-base-saturation) var(--color-base-lightness));
}


.planet.scheme-genderqueer,
.planetContainer.scheme-genderqueer {
	--color-base-hue: 0; /* TODO: use variable for white hue */
	--color-base-saturation: 0.01%; /* TODO: use variable for white saturation */
	--color-base-lightness: 100%; /* TODO: use variable for white lightness */

	--color-fill-1: var(--color-brand-purple-tint);
	--color-fill-2: var(--color-brand-white);
	--color-fill-3: var(--color-brand-green-shade);
	
	--fill-svg-1: var(--color-fill-1);
	--fill-svg-2: var(--color-fill-3);
	--fill-svg-3: var(--color-fill-1);
	--fill-svg-4: var(--color-fill-3);
	--fill-svg-5: var(--color-fill-1);
	--fill-svg-6: var(--color-fill-3);
	--fill-svg-7: var(--color-fill-1);
}

.planet.scheme-genderqueer,
.planet.scheme-genderqueer *,
.planetContainer.scheme-genderqueer,
.planetContainer.scheme-genderqueer * {
    /* applies to the areas both outside and inside of SVG bounds */
	--color-base: var(--color-fill-2);
	--color-base: hsl(var(--color-base-hue) var(--color-base-saturation) var(--color-base-lightness));
}


.planet.scheme-blackidentify,
.planetContainer.scheme-blackidentify {
	--color-base-hue: var(--color-hue-brand-red);
	--color-base-saturation: var(--color-saturation-default);
	--color-base-lightness: var(--color-lightness-default);

	--color-fill-1: var(--color-brand-red);
	--color-fill-2: var(--color-brand-black);
	--color-fill-3: var(--color-brand-green-shade);

	--fill-svg-1: var(--color-fill-2);
	--fill-svg-2: var(--color-fill-3);
	--fill-svg-3: var(--color-fill-2);
	--fill-svg-4: var(--color-fill-3);
	--fill-svg-5: var(--color-fill-2);
	--fill-svg-6: var(--color-fill-3);
	--fill-svg-7: var(--color-fill-2);
}

.planet.scheme-blackidentify,
.planet.scheme-blackidentify *,
.planetContainer.scheme-blackidentify,
.planetContainer.scheme-blackidentify * {
    /* applies to the areas both outside and inside of SVG bounds */
	--color-base: var(--color-fill-1);
	--color-base: hsl(var(--color-base-hue) var(--color-base-saturation) var(--color-base-lightness));
}


/* Planet Color Scheme Template */
/*

.planet.scheme- {

	--color-fill-1: var(--color-);
	--color-fill-2: var(--color-);
	--color-fill-3: var(--color-);
	
	--color-base: var(--color-fill-);

	--fill-svg-1: var(--color-fill-1);
	--fill-svg-2: var(--color-fill-);
	--fill-svg-3: var(--color-fill-);
	--fill-svg-4: var(--color-fill-);
	--fill-svg-5: var(--color-fill-);
	--fill-svg-6: var(--color-fill-);
	--fill-svg-7: var(--color-fill-);
}

.planet.scheme- .svgTexture {
	--color-base: var(--color-fill-);
}


*/


/* PLANET RINGS */


.planet-ring {
	display: block;
	position: absolute;
	width: var(--planet-ring_diameter);
	height: calc( var(--planet-ring_diameter) / 2);
	
	left: calc((var(--planet-ring_diameter) - var(--planet-diameter)) / -2); /* includes moving planet center to origin */
	
	transform: rotate(var(--planet-ring_rotation)) scaleY(var(--planet-ring_flatness));

	/* --planet-ring_color: white; /* temporary */
	--planet-ring_color: hsla(var(--color-base-hue) var(--color-base-saturation) 90% / 50%);

	/* for border-based rings */
	border: var(--planet-ring_width) solid var(--planet-ring_color);
	box-sizing: border-box;	
	background-image: none !important;
}


.planet-ring-behind {
	top: calc((var(--planet-ring_diameter) - var(--planet-diameter)) / -2);  /* includes moving planet center to origin */
	z-index: -1;
	transform-origin: bottom center;
	border-radius: 100000px 100000px 0 0;

	/* For border-based rings */
	border-bottom-width: 0;
}

.planet-ring-front {
	border-radius: 0 0 100000px 100000px;
	border-top-width: 0;
	top: calc((var(--planet-diameter) / 2));
	transform-origin: top center;
}

