/* Post Header area */

.material .wpb_row.row-event-post-heading {
    margin-bottom: 5rem;
}


.row-event-meta,
.row-event-meta * {
    font-family: new-spirit;
    font-size: var(--font-size-h5);
    line-height: var(--line-height-h5);
}

.event-meta-eventType+.event-meta-eventDate::before {
    content: "•";
    margin: 0 0.5em;
}

/* Post header element spacing */

.material .wpb_row.row-event-meta { 
    margin-top: 4rem;
    margin-bottom: 0; /* override */
}

.material .wpb_content_element.wpb_raw_code { /* override */ /* Applies site-wide */
    margin-bottom:0;
}

.row-event-title h1 {
    margin-top: 0;
}

.row_inner_event_post_subtitle {
    display: none;
}


/* Content */


.event-post-type .event-description, .event-post-type .event-description * {
    font-size: var(--font-size-h6);
    line-height: var(--line-height-h6);
}

/* Video */
.event_video {
    margin-bottom: 0;
}

/* Transcript */
.row_inner_transcript h3 {
    margin-top: 0;
}

.row_inner_transcript .vc_acf {
    height: 25rem;
    overflow-y: scroll;
    background-color: hsla(0 0.01% 100% / 5%);
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid hsla(0 0.01% 100% / 15%);
    max-width: calc(var(--width-text-default) + 1rem + 1rem);
}

@media only screen and (min-width:1000px) {
    .row_inner_transcript .vc_acf {
        max-width: calc(var(--width-text-default) + 15rem + 1rem);
    }
}

.row_inner_transcript .vc_acf>*:first-child {
    margin-top: 1rem;
    padding-top: 2rem;
    border-top: 0.25rem solid var(--color-brand-white);
}

.row_inner_transcript .vc_acf>*:last-child {
    margin-bottom: 3rem;
    border-bottom: 0.25rem solid var(--color-brand-white);
}


